.video-footer {
  position: relative;
  bottom: 100px;
  margin-left: 20px;
}
.video-footer_text {
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  margin-bottom: 20px;
}
.video-footer_text > h3 {
  margin-left: 10px;
  padding-bottom: 20px;
}
.video-footer_text > h3 > button {
  color: white;
  font-weight: 900;
  text-transform: inherit;
}

.video-footer_ticker > .ticker {
  width: 60%;
  margin-left: 30px;
  margin-bottom: 20px;
  height: fit-content;
}
.video-footer_ticker h1 {
  padding-top: 7px;
  font-size: 12px;
  color: white;
}
.video-footer_icon {
  position: absolute;
  left: 5px;
  color: white;
}

.video-footer_actions {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 95%;
  color: white;
}
.video-footer_actions_left > .MuiSvgIcon-root {
  padding: 0 10px;
}
.video-footer_actions_right {
  display: flex;
}
.video-footer_stat {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.video-footer_stat > p {
  margin-left: 3px;
}
